<template>
  <div>
    <div class="login">
      <div class="login__wrapper">
        <div class="login__wrapper__header">
          <h2 class="login__wrapper__header-text">Sign in to your account</h2>
        </div>
        <form
          :validation-schema="schema"
          class="login__input__fields"
          @submit="onSubmit"
        >
          <div class="login__input__fields-username">
            <label for="username">Username</label>
            <input
              v-model="username"
              name="username"
              type="text"
              :class="{ 'has-error': errorMessage }"
            />
            <span v-show="errorMessage">username is required</span>
          </div>
          <div class="login__input__fields-password">
            <label for="password">Password</label>
            <input
              name="password"
              v-model="password"
              :type="isPasswordVisible ? 'password' : 'text'"
            />

            <span @click="togglePassword()">
              <img
                v-if="isPasswordVisible"
                src="../assets/images/hidden-eye.svg"
                alt="hidden eye image"
              />
              <img
                v-else
                src="../assets/images/visible-eye.svg"
                alt="visible eye image"
              />
            </span>
          </div>

          <base-button
            class="login__input__fields-signin blue"
            btnLink="/"
            btnText="Sign in"
            :btnTarget="false"
          />
          <div class="login__input__fields-signup">
            Don't have an account? <a href="#">Sign up for free</a>
          </div>
        </form>

        <!--  -->
        <p class="login__line" />
        <div class="login__footer">
          <p class="login__footer-privacy">
            By proceeding, you agree to TopInt’s
            <a href="#"> Terms of Service </a> and
            <a href="#"> Privacy Policy. </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import * as Yup from "yup";
import { useToggle } from "@vueuse/core";
import { useForm } from "vee-validate";
import type { loginForm } from "../types/loginForm";
import { useMutateOption, useMutate } from "../hooks/query/useQuery";

const username = ref();
const password = ref();
const errorMessage = ref(false);

const schema = Yup.object().shape({
  username: Yup.string().required("required field"),
  password: Yup.string().required("required field"),
});

const { handleSubmit } = useForm<loginForm>({
  validationSchema: schema,
});

const isPasswordVisible = ref(true);
const togglePassword = useToggle(isPasswordVisible);

const mutation = useMutate({});

const onSubmit = handleSubmit(async (): Promise<void> => {
  try {
    const data: loginForm = {
      username: username.value,
      password: password.value,
    };

    const mutationParams: useMutateOption = {
      method: "post",
      link: "/login",
      data,
    };
    mutation.mutate(mutationParams);
  } catch (error) {
    console.log(error);
  }
});
</script>
