.svk-btn {
  font-family: Helvetica;
  all: unset;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 30px;
  min-width: 320px;
  border-radius: 4px;
  background: #151515;
  border: 0.5px solid #151515;
  transition: 0.3s;
  flex-shrink: 0;
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: flex;
  }

  &__text {
    transition: 0.2s;
    white-space: nowrap;
    text-align: center;
    color: #f7f7f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }

  &.red {
    border-color: #e53324;
    background: #e53324;
  }

  &.green {
    background: #10a77b;
    border-color: #10a77b;
  }

  &.blue {
    background: #6853ec;
    border-color: #6853ec;
  }

  &.white {
    background: #fff;
    border-color: #fff;

    .svk-btn__text {
      color: #1f2937;
    }
  }

  &.squared {
    padding: 0;
    min-width: auto;
    width: 60px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.975);
  }
}
