.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 565px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #bcbcbc40;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;

      &-text {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #424242;
      }
    }
  }

  &__input__fields {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    &-username {
      display: flex;
      flex-direction: column;

      label {
        width: 56px;
        height: 14px;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #424242;
      }

      input {
        width: 320px;
        height: 30px;
        border-radius: 4px;
        padding-left: 10px;
        padding-right: 50px;
        border: 0.5px solid #e2e2e2;
      }
      &.error {
        border-color: red;
      }
    }
    &-password {
      display: flex;
      flex-direction: column;
      position: relative;

      label {
        width: 56px;
        height: 14px;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #424242;
      }

      input {
        width: 320px;
        height: 30px;
        border-radius: 4px;
        border: 0.5px solid #e2e2e2;
        padding-left: 10px;
        padding-right: 50px;

        &:focus {
          border-color: #6853ec;
        }
      }
      span {
        padding: 40px 20px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        img:hover {
          opacity: 0.7;
        }
      }
    }
    &-signup {
      font-family: Helvetica;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;

      a {
        color: blue;
      }
    }
  }
  &__line {
    border: 1px solid #d9d9d9;
    width: 320px;
    height: 1px;
  }
  &__footer {
    padding-top: 20px;
    &-privacy {
      font-family: Helvetica;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;

      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: center;

      a {
        color: blue;
      }
    }
  }
}
