<template>
  <a :href="btnLink" :target="{ _blank: btnTarget }" class="svk-btn">
    <img
      v-if="btnLeftIcon"
      class="svk-btn__icon left"
      :src="btnLeftIcon"
      alt="button icon"
    />
    <p v-if="btnText" class="svk-btn__text">
      {{ btnText }}
    </p>
    <img
      v-if="btnRightIcon"
      class="svk-btn__icon right"
      :src="btnRightIcon"
      alt="button icon"
    />
  </a>
</template>
<script lang="ts" setup>
defineProps<{
  btnText: {
    type: string;
    default: "";
  };
  btnLink: {
    type: string;
    default: "/";
  };
  btnLeftIcon: {
    type: string;
  };
  btnRightIcon: {
    type: string;
  };
  btnTarget: {
    type: boolean;
    default: false;
  };
}>();
</script>
