*,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: "'Inter", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

body {
  background: #f5f5f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
